<section class="support-email full-width" id="support">
    <div class="container">
        <h2 class="section-title">{{ T "newsletter.title" }}</h2>
        <p class="section-subtitle">{{ T "newsletter.subtitle" }}</p>
        <form class="email-form"  action="https://app.keila.io/forms/nfrm_PR8kkXVE" method="post">
            <input type="email" id="contact_email" name="contact[email]" placeholder="{{ T "newsletter.email" }}" required="">
            <button type="submit" class="btn-white">💌 {{ T "newsletter.cta" }}</button>
        </form>
    </div>
</section>
