<footer>
    <div class="container">
    <div class="footer-content">
        <div class="footer-section">
        <h3>Aktivisda</h3>
        <p>{{ T "footer.description" }}</p>

        <p>
            <strong>Contact :</strong> <a href="mailto:dev@aktivisda.earth">dev@aktivisda.earth</a>
        </p>
        </div>
        <div class="footer-section">
        <h3>{{ T "footer.project" }}</h3>
        <a href="https://docs.aktivisda.earth">Documentation</a>
        <a href="https://framagit.org/aktivisda/aktivisda/-/issues">{{ T "footer.source-code" }}</a>
        </div>
        <div class="footer-section">
        <h3>{{ T "footer.community" }}</h3>
        <a href="https://opencollective.com/aktivisda">{{ T "footer.support" }}</a>
        <a href="https://framagit.org/aktivisda/aktivisda/-/issues">{{ T "footer.issues" }}</a>
        <a href="https://app.keila.io/forms/nfrm_PR8kkXVE">{{ T "footer.newsletter" }}</a>
        </div>
        <div class="footer-section">
        <h3>{{ T "footer.license" }}</h3>
        <a href="https://framagit.org/aktivisda/aktivisda/-/blob/main/LICENSE">AGPLv3</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>2025 Aktivisda — Free project under AGPLv3 — Built with ❤️ for activist organizations by <a href="https://www.telescoop.fr/">TelesCoop</a>.</p>
    </div>
    </div>
</footer>