<header style="background: rgba(255, 255, 255, 0.95); box-shadow: none;">
    <input type="checkbox" id="nav-check">
    <div class="mobile-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <nav class="links container">
        <a href="#" class="logo"><img src="/images/logo.png" alt="Aktivisda logo" style="height: 2em;"></a>

        <ul class="nav-links">
            <li>
                <a href="#features">{{ T "navbar.features" }}</a>
            </li>
            <li>
                <a href="#comparison">{{ T "navbar.comparison" }}</a>
            </li>
            <li>
                <a href="https://docs.aktivisda.earth">{{ T "navbar.documentation" }}</a>
            </li>
            <!-- <li>
                <a href="/blog">{{ T "navbar.blog" }}</a>
            </li> -->
        </ul>
        <div class="navbar-right">
            <a href="#demo" class="btn cta-nav btn-primary">{{ T "common.cta.see-demo" }}</a>
            <nav aria-label="Language selector" class="language-selector">
                <ul>
                    {{ range .Site.Languages }}
                        {{ if eq . $.Site.Language }}
                            {{/* <li><span aria-label="{{ i18n "ariaLanguage" }}">{{ .LanguageName }}</span></li> */}}
                        {{ end }}
                    {{ end }}
                    <ul aria-labelledby="dropdown-title" class="nav-links">
                        {{ range $.Translations }}
                        <li><a title="{{ .Language.LanguageCode }}" href="{{ .Permalink }}">{{ .Language.LanguageCode }}</a></li>
                    </ul>
                        {{ end }}
                    </li>
                </ul>
            </nav>
        </nav>
    </nav>
</header>
