{{ define "main" }}
    <section class="hero">
      <div class="container">
        <div class="hero-content">
          <div class="hero-text">
          <h1 class="hero-title">{{ T "sections.hero.title"}}</h1>
            <p class="hero-subtext">{{ T "sections.hero.subtitle"}}</p>

            <div class="hero-ctas">
              <a href="#demo" class="btn btn-primary">▶ {{ T "common.cta.see-demo" }}</a>
              <!-- <a href="#features" class="btn btn-secondary">{{ T "common.cta.explore" }}</a> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Problem Section -->
    <section class="problem">
      <div class="container">
        <div class="problem-content fade-in">
          <h2 class="section-title">{{ T "sections.problems.title" }}</h2>
          <p class="section-subtitle">{{ T "sections.problems.subtitle" }}</p>
          <div class="problems-grid">
            {{ $pages := .Site.RegularPages | lang.Merge .Site.Sites.Default.RegularPages }}
            {{ range where $pages "Section" "problems" }}
            <div class="problem-card">
              <div class="problem-icon">{{ .Params.Icon}}</div>
              <h3>{{ .Title }}</h3>
              {{ .Content }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="full-width-image">
          <h2 class="section-title">Try the online demo now</h2>
          <img src="Aktivisda%20-%20Free%20Open-Source%20Visual%20Creation%20Tool%20for%20Activist%20Organizations_files/demo.jpg" alt="Mockup Illustration" style="width: 100%; display: block; border-top: 1px solid #000;">

    </section> -->

{{ template "_internal/newsletter.html" }}

<section class="features-detailed full-width" id="features-detailed">
  <div class="container">
    <h2 class="section-title">{{ T "sections.features.title" }}</h2>
    <p class="section-subtitle">{{ T "sections.features.subtitle" }}</p>
    {{ $pages := .Site.RegularPages | lang.Merge .Site.Sites.Default.RegularPages }}
    {{ range where $pages "Section" "features" }}
    <div class="feature-block fade-in">
      <h3>{{ .Title }}</h3>
      {{ .Content }}
    </div>
    {{ end }}

    <div class="feature-footer">
      {{ T "sections.features.footer" | markdownify }}
    </div>
  </div>
</section>


    <section class="full-width-image">
      <img src="/images/mock_republique.webp" alt="Mockup Illustration with XR Poster" style="width: 100%; display: block;">
    </section>

    <!-- Features Section -->
    <section class="features" id="features">
      <div class="container">
        <div class="fade-in">
          <h2 class="section-title">{{ T "sections.key-messages.title" }}</h2>
          <p class="section-subtitle">{{ T "sections.key-messages.subtitle" }}</p>
        </div>
        <div class="features-grid">
          {{ $pages := .Site.RegularPages | lang.Merge .Site.Sites.Default.RegularPages }}
          {{ range where $pages "Section" "keymessages" }}
            <div class="feature-card fade-in">
              <div class="feature-icon">{{ .Params.icon }}</div>
              <h3 class="feature-title">{{ .Title }}</h3>
              {{ .Content }}
            </div>
          {{ end }}
        </div>
      </div>
    </section>

    <section class="full-width-image">
      <img src="/images/mock_climatefresk.webp" alt="Mockup Illustration with Climate Fresk Poster" style="width: 100%; display: block;">
    </section>

    <section id="demo" class="users-section full-width">
      <div class="container">
        <h2 class="section-title">{{ T "sections.use-cases.title" }}</h2>
        <p class="section-subtitle">{{ T "sections.use-cases.subtitle" }}</p>
        <div class="users-grid">
            {{ $pages := .Site.RegularPages | lang.Merge .Site.Sites.Default.RegularPages }}
            {{ range where $pages "Section" "use-cases" }}
                <div class="user-card fade-in">
                <h3>{{ .Title }}</h3>
                <p class="testimonial">{{ .Params.feedback }}</p>
                <a href="{{ .Params.instanceUrl }}" class="btn-secondary">{{ .Params.cta }}</a>
                </div>
            {{ end }}
        </div>
      </div>
    </section>

    <!-- Comparison Section -->
    <section class="comparison" id="comparison">
      <div class="container">
        <div class="fade-in">
          <h2 class="section-title">{{ T "sections.comparison.title" }}</h2>
          <p class="section-subtitle">{{ T "sections.comparison.subtitle" }}</p>
        </div>
        <div class="comparison-table fade-in">
          <div class="comparison-header">
            <div>
              <strong>Criteria</strong>
            </div>
            <div>
              <strong>Aktivisda</strong>
            </div>
            <div>
              <strong>Canva</strong>
            </div>
          </div>
          <div class="comparison-row">
            <div>
              <strong>{{ T "sections.comparison.tabular.brand-consistency.criteria" }}</strong>
            </div>
            <div class="check">{{ T "sections.comparison.tabular.brand-consistency.aktivisda" }}</div>
            <div class="cross">{{ T "sections.comparison.tabular.brand-consistency.canva" }}</div>
          </div>
          <div class="comparison-row">
            <div>
              <strong>{{ T "sections.comparison.tabular.data-ownership.criteria" }}</strong>
            </div>
            <div class="check">{{ T "sections.comparison.tabular.data-ownership.aktivisda" }}</div>
            <div class="cross">{{ T "sections.comparison.tabular.data-ownership.canva" }}</div>
          </div>
          <div class="comparison-row">
            <div>
              <strong>{{ T "sections.comparison.tabular.cost.criteria" }}</strong>
            </div>
            <div class="check">{{ T "sections.comparison.tabular.cost.aktivisda" }}</div>
            <div class="cross">{{ T "sections.comparison.tabular.cost.canva" }}</div>
          </div>
          <div class="comparison-row">
            <div>
              <strong>{{ T "sections.comparison.tabular.ease-of-use.criteria" }}</strong>
            </div>
            <div class="check">{{ T "sections.comparison.tabular.ease-of-use.aktivisda" }}</div>
            <div class="cross">{{ T "sections.comparison.tabular.ease-of-use.canva" }}</div>
          </div>
          <div class="comparison-row">
            <div>
              <strong>{{ T "sections.comparison.tabular.advanced-customization.criteria" }}</strong>
            </div>
            <div class="check">{{ T "sections.comparison.tabular.advanced-customization.aktivisda" }}</div>
            <div class="cross">{{ T "sections.comparison.tabular.advanced-customization.canva" }}</div>
          </div>
        </div>
      </div>
    </section>
{{ end}}
